<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Greenlawn.com || Responsive HTML 5 Template</title>
    <!-- mobile responsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="plugins/Stroke-Gap-Icons-Webfont/style.css">
  </head>
  <body>
    <div class="home_page_6_style">
      <!-- Header Topbar Start-->
      <div class="hdr_top_bar">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <ul class="nav nav-pills hdr-address">
                <li><a href="#"><i class="fa fa-phone"></i><span>+ (1800) 456 7890                  </span></a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i><span>info@greenlawn.com</span></a></li>
                <li><a href="#"><i class="icon icon-Timer"></i><span>Mon-Sat : 10 am to 7 pm</span></a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-pills hdr-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Header Topbar End-->
      <header class="header">
        <div class="thm-container">
          <div class="row">
            <div class="col-md-3"><a href="index.html" class="logo fl"><img src="images/common_in_all/logo.png" alt="image"></a></div>
            <div class="col-md-9">
              <div class="header-right-info pull-right">
                <ul>
                  <li>
                    <div class="single-header-right-info">
                      <div class="icon-box"><i class="icon icon-Pointer"></i></div>
                      <div class="text-box">
                        <p><span>13005 Greenville Avenue</span><span>California, TX 70240</span></p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="single-header-right-info">
                      <div class="icon-box"><i class="icon icon-Phone2"></i></div>
                      <div class="text-box">
                        <p><span>(1800) 456 7890 </span><span>Toll Free</span></p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="single-header-right-info">
                      <div class="icon-box"><i class="icon icon-Timer"></i></div>
                      <div class="text-box">
                        <p><span>Mon - Sat 9.00 - 19.00</span><span>Sunday Closed</span></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="top_slider">
        <!-- Navbar Start-->
        <nav id="main-navigation-wrapper" class="navbar navbar-default finance-navbar">
          <div class="thm-container">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <div class="logo-menu"><img src="images/common_in_all/logo.png" alt=""></div>
                  <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div id="main-navigation" class="collapse navbar-collapse">		
                  <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="index.html" class="nav_drop_ar">Home</a>
                      <ul class="dropdown-submenu">
                        <li><a href="index2.html">Home Page 2</a></li>
                        <li><a href="index3.html">Home Page 3</a></li>
                        <li><a href="index4.html">Home Page 4</a></li>
                        <li><a href="index5.html">Home Page 5</a></li>
                        <li><a href="index6.html">Home Page 6</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="about.html" class="nav_drop_ar">about us</a>
                      <ul class="dropdown-submenu">
                        <li><a href="about.html">Introduction</a></li>
                        <li><a href="faqs.html">FAQ</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="services.html" class="nav_drop_ar">Services</a>
                      <ul class="dropdown-submenu">
                        <li><a href="lawn_gardencare.html">Lawn & Garden Care</a></li>
                        <li><a href="irrigation_drainage.html">Irrigation & Drainage</a></li>
                        <li><a href="stone_hardscaping.html">Stone  & Hard Scaping</a></li>
                        <li><a href="planting_removal.html">Planting & Removal</a></li>
                        <li><a href="spring_fallcleanup.html">Spring & Fall Cleanup</a></li>
                        <li><a href="snow_ice_removal.html">Snow & Ice Removal</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="gallery.html" class="nav_drop_ar">Gallery</a>
                      <ul class="dropdown-submenu">
                        <li><a href="gallery.html">Gallery Classic</a></li>
                        <li><a href="gallery_no_filter.html">Gallery No Filter</a></li>
                        <li><a href="gallery_lightbox.html">Gallery Lightbox</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="blogs.html" class="nav_drop_ar">Blog</a>
                      <ul class="dropdown-submenu">
                        <li><a href="blogs.html">Blog</a></li>
                        <li><a href="blogs_detail.html">Blog Details</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="shop.html" class="nav_drop_ar">Shops</a>
                      <ul class="dropdown-submenu">
                        <li><a href="shop.html">Shops</a></li>
                        <li><a href="product_detail.html">Product Detail</a></li>
                        <li><a href="cart_page.html">Cart</a></li>
                        <li><a href="checkout_page.html">Checkout</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                  <div class="request_btn"><a href="request_quote.html" class="request_quote green_bg btn_border">Get a quote</a></div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar End-->
        <!-- BannerCol Start-->
        <div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider slider6">
          <!-- Wrapper for slides-->
          <div role="listbox" class="carousel-inner">
            <div style="background-image: url(images/home_page6/banner_img1.jpg);" class="item active slide-1">
              <div class="carousel-caption">
                <div class="thm-container">
                  <div class="box valign-top home1_slide1">
                    <div class="content text-left cnt_fr wdt55">
                      <h2 data-animation="animated fadeInUp">Quality service in lanscaping</h2>
                      <p data-animation="animated fadeInDown">To have your lawn look its best, trust Landscaping & Garening, Inc.  to get the job done right. We take a great deal of pride in the quality of our work. </p><a data-animation="animated fadeInUp" href="#" class="btn_border btn_border2 btn_slide yellow_bg">view services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url(images/home_page6/banner_img2.jpg);" class="item slide-2">
              <div class="carousel-caption">
                <div class="thm-container">
                  <div class="box valign-top">
                    <div class="content text-left wdt55 cnt_fl">
                      <h2 data-animation="animated fadeInUp">Quality service in lanscaping</h2>
                      <p data-animation="animated fadeInDown">To have your lawn look its best, trust Landscaping & Garening, Inc.  to get the job done right. We take a great deal of pride in the quality of our work. </p><a data-animation="animated fadeInUp" href="#" class="btn_border btn_border2 btn_slide yellow_bg">view services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url(images/home_page6/banner_img3.jpg);" class="item slide-3">
              <div class="carousel-caption">
                <div class="thm-container">
                  <div class="box valign-top">
                    <div class="content text-left wdt55 cnt_fl">
                      <h2 data-animation="animated fadeInUp">Quality service in lanscaping</h2>
                      <p data-animation="animated fadeInDown">To have your lawn look its best, trust Landscaping & Garening, Inc.  to get the job done right. We take a great deal of pride in the quality of our work. </p><a data-animation="animated fadeInUp" href="#" class="btn_border btn_border2 btn_slide yellow_bg">view services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Controls--><a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>
        </div>
        <!-- BannerCol End-->
      </div>
    </div>
    <div class="welcome_to6 wdt_100 pad_100">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="text_above">
              <h3 class="black-color mar_btm30">Welcome to <span class="green-head">Landscaping company </span></h3>
              <p class="fnt20">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
              <p>Squi officia deserunt mollit anim id est laborum. Consect petur adipiscing elit.  eu fugiat nulla pariatur. Excepteur sint occaecat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Consect petur adipiscing elit.  eu fugiat nulla pariatur.</p>
              <h5 class="mar_btm30 black-color">Quality and reliability</h5>
              <p>Aroident, sunt in culpa qui officia deserunt mollit anim id est laborum. Consect petur. Aroident, sunt in culpa qui officia deserunt mollit anim id est laborum. Consect petur.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><img src="images/home_page6/welcome.jpg" alt="Images"></div>
        </div>
      </div>
    </div>
    <!-- Services Start-->
    <div class="service_bg2 wdt_100 pad_100_196">
      <div class="container">
        <div class="wdt_100">
          <h3 class="black-color mar_btm30">Our Services</h3>
        </div>
        <div id="service_slider" data-ride="carousel" class="carousel slide four_shows_one_move">
          <!-- Wrapper for slides-->
          <div class="quality-list3">
            <div class="row">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quality-list_marbtm">
                    <div class="service-item"><a href="#" class="image_hover"><img src="images/home_page6/ser_img1.jpg" alt="image" class="zoom_img_effect"></a>
                      <div class="text">
                        <h5><a href="#">Landscape Design</a></h5>
                        <p>Aevelit sed quia numquam eius modi. Neque porro quisquam est quia numorro quisq quam.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quality-list_marbtm">
                    <div class="service-item"><a href="#" class="image_hover"><img src="images/home_page6/ser_img2.jpg" alt="image" class="zoom_img_effect"></a>
                      <div class="text">
                        <h5><a href="#">Arboriculture-Tree Service</a></h5>
                        <p>Aevelit sed quia numquam eius modi. Neque porro quisquam est quia numorro quisq quam.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quality-list_marbtm">
                    <div class="service-item"><a href="#" class="image_hover"><img src="images/home_page6/ser_img3.jpg" alt="image" class="zoom_img_effect"></a>
                      <div class="text">
                        <h5><a href="#">Irrigation Service</a></h5>
                        <p>Aevelit sed quia numquam eius modi. Neque porro quisquam est quia numorro quisq quam.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controls pull-right"><a href="#service_slider" data-slide="prev" class="left fa fa-chevron-left"></a><a href="#service_slider" data-slide="next" class="right fa fa-chevron-right"></a></div>
        </div>
      </div>
    </div>
    <!-- Services End-->
    <section class="professional-row">
      <div class="professional">
        <div class="professional-left"></div>
        <div class="professional-right">
          <div class="content">
            <div class="content-inn">
              <h3 class="mar_btm30">Why choose us</h3>
              <p class="white-color fnt18">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p class="white-color">Squis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <ul>
                <li><img src="images/home_page6/icon1.png" alt=""><span>Dedicated <br>Team</span></li>
                <li><img src="images/home_page6/icon2.png" alt=""><span>Quality <br>Work</span></li>
                <li><img src="images/home_page6/icon3.png" alt=""><span>24/7 <br>Supports</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="general-question-all wdt_100 pad_100 general-question-all6">
      <div class="bg_item">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="general-questions">
                <h3 class="mar_btm60 black-color">Frequently Ask Questions</h3>
                <div id="accordion" role="tablist" class="panel-group accordion">
                  <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">What kind of mechanic you need</a>
                    <div id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                      <div class="inner-box">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa quiea officia deserunt mollit anim id est laborum. </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">What kind of mechanic you need</a>
                    <div id="collapseTwo" role="tabpanel" class="panel-collapse collapse in">
                      <div class="inner-box">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa quiea officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">What kind of mechanic you need</a>
                    <div id="collapseThree" role="tabpanel" class="panel-collapse collapse">
                      <div class="inner-box">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa quiea officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">What kind of mechanic you need </a>
                    <div id="collapseFour" role="tabpanel" class="panel-collapse collapse">
                      <div class="inner-box">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa quiea officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="latest-tips">
                <h3 class="mar_btm60 black-color">We Care About Your lawn</h3>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <ul>
                  <li><a href="#">Lawn Renovation</a></li>
                  <li><a href="#">Landscape Lighting</a></li>
                  <li><a href="#">Flowerscaping</a></li>
                  <li><a href="#">Natural Stone Walks</a></li>
                  <li><a href="#">Lawn Maintenance</a></li>
                  <li><a href="#">Seasonal Clean-ups</a></li>
                  <li><a href="#">Snow Plowing & Salting</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Start-->
    <div class="project_Gal wdt_100 pad_94_0 project_Gal4">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10">
            <h3 class="mar_btm30">Our Projects</h3>
            <p class="mar_btm40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <div id="photo_gallery" data-ride="carousel" class="carousel slide three_shows_one_move variant_four_project photo_gallery2">
        <!-- Wrapper for slides-->
        <div class="row">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="project_full_col"><span class="default_hidden"><img src="images/home_page4/gallery_img1.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                  <div class="project_detail">
                    <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                      <h2>Garden / Terrace</h2>
                    </div>
                  </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="project_full_col"><span class="default_hidden"><img src="images/home_page4/gallery_img2.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                  <div class="project_detail">
                    <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                      <h2>Garden / Terrace</h2>
                    </div>
                  </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="project_full_col"><span class="default_hidden"><img src="images/home_page4/gallery_img3.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                  <div class="project_detail">
                    <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                      <h2>Garden / Terrace</h2>
                    </div>
                  </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="project_full_col"><span class="default_hidden"><img src="images/home_page4/gallery_img4.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                  <div class="project_detail">
                    <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                      <h2>Garden / Terrace</h2>
                    </div>
                  </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="project_full_col"><span class="default_hidden"><img src="images/home_page4/gallery_img1.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                  <div class="project_detail">
                    <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                      <h2>Garden / Terrace</h2>
                    </div>
                  </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="controls pull-right gallery_controls"><a href=".photo_gallery2" data-slide="prev" class="left fa fa-chevron-left"></a><a href=".photo_gallery2" data-slide="next" class="right fa fa-chevron-right"></a></div>
      </div>
    </div>
    <div class="pad_100 wdt_100">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="black-color mar_btm60">Testimonials</h3>
            <div data-ride="carousel" class="testi-carousel6 carousel slide four_shows_one_move variant_four_project">
              <div class="carousel-inner">
                <div class="item active text-center">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="img_box"><img src="images/home_page6/testi1.jpg" alt="Awesome Image"></div>
                    <p class="mar_btm30">There is a variety of saving plnans which can be tailored to your needs, including Tzx Exempt Saving Regular Saving  variety plnan.</p>
                    <h5>Michale John</h5><img src="images/home_page6/ques_icon.jpg" alt="Awesome Image">
                  </div>
                </div>
                <div class="item text-center">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="img_box"><img src="images/home_page6/testi2.jpg" alt="Awesome Image"></div>
                    <p class="mar_btm30">There is a variety of saving plnans which can be tailored to your needs, including Tzx Exempt Saving Regular Saving  variety plnan.</p>
                    <h5>Michale John</h5><img src="images/home_page6/ques_icon.jpg" alt="Awesome Image">
                  </div>
                </div>
                <div class="item text-center">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="img_box"><img src="images/home_page6/testi3.jpg" alt="Awesome Image"></div>
                    <p class="mar_btm30">There is a variety of saving plnans which can be tailored to your needs, including Tzx Exempt Saving Regular Saving  variety plnan.</p>
                    <h5>Michale John</h5><img src="images/home_page6/ques_icon.jpg" alt="Awesome Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Emmergency Start-->
    <div class="emmergency-leaks wdt_100">
      <div class="container">
        <h4 class="this-intro">If you have any emergency landscaping need, simply call our 24 hour emergency number</h4>
        <h2 class="this-title">Quick and Reliable work for <span>landscape and gardening</span></h2><a href="#" class="call-link">+(1800) 654 8745</a>
      </div>
    </div>
    <!-- Emmergency End-->
    <!-- Blog_Wrapper Start-->
    <div class="pad_94_100 wdt_100">
      <div class="container">
        <h3 class="black-color mar_btm40">Latest Blogs</h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img1.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img2.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.       </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img3.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog_Wrapper End-->
    <!-- our clients & Get in touch-->
    <div class="our_client pad_100 wdt_100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-t-client">
            <h3 class="black-color mar_btm30">Our Partners</h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. </p>
            <ul>
              <li><img src="images/home_page6/client1.jpg" alt="" class="img-responsive"></li>
              <li><img src="images/home_page6/client2.jpg" alt="" class="img-responsive"></li>
              <li><img src="images/home_page6/client3.jpg" alt="" class="img-responsive"></li>
            </ul>
            <ul>
              <li><img src="images/home_page6/client4.jpg" alt="" class="img-responsive"></li>
              <li><img src="images/home_page6/client5.jpg" alt="" class="img-responsive"></li>
              <li><img src="images/home_page6/client6.jpg" alt="" class="img-responsive"></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="black-color mar_btm30">Get In Touch</h3>
            <div class="get-t-touch">
              <div class="get-t-touch-inner input_form service-request-form">
                <form action="contact_process.php" method="post" id="contactForm" class="service_request">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input id="name" type="text" name="name" placeholder="Your Name:" class="form-control">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input id="email" type="email" name="email" placeholder="Your Email:" class="form-control">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="select-box">
                      <select id="selectService" name="selectService" class="select-menu">
                        <option value="0" selected="">I like to discuss</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input id="phone" type="text" name="subject" placeholder="Your Phone Number:" class="form-control">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit-n-now">
                    <button type="submit" class="submit">Submit Now</button>
                  </div>
                </form>
                <div id="success">
					<p>Your text message sent successfully!</p>
				</div>
				<div id="error">
					<p>Sorry! Message not sent. Something went wrong!!</p>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="footer-quote">
      <div class="thm-container">
        <h2>Gardener, Complete Solution for Your Landscaping Vision.</h2><a data-animation="animated fadeInLeft" href="#" class="thm-button">Contact Us </a>
      </div>
    </section>
    <!-- footer  style-->
    <footer>
      <section class="clearfix footer-wrapper">
        <div class="container">
          <div class="widget about-us-widget col-md-4 col-sm-6"><a href="index.html"><img src="images/footer/logo.png" alt="" class="img-responsive"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor asin cididunt ut labore et dolore magna ali qua. Lorem ipsum dolor sit amet.</p>
            <ul class="nav footer-social">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin">  </i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="widget widget-links col-md-2 col-sm-6">
            <h4 class="widget_title">Usefull Links</h4>
            <div class="widget-contact-list">
              <ul>
                <li><a href="about.html"><i class="fa fa-angle-right"></i>About Us</a></li>
                <li><a href="contact.html"><i class="fa fa-angle-right"> </i>Make an Appoint</a></li>
                <li><a href="request_quote.html"><i class="fa fa-angle-right"> </i>Get Free Quote</a></li>
                <li><a href="#"><i class="fa fa-angle-right"> </i>Documentation</a></li>
                <li><a href="gallery.html"><i class="fa fa-angle-right"> </i>Gallery</a></li>
                <li><a href="blogs.html"><i class="fa fa-angle-right"> </i>Blogs</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-links widget-links2 col-md-3 col-sm-6">
            <h4 class="widget_title">Our Services</h4>
            <div class="widget-contact-list">
              <ul>
                <li><a href="planting_removal.html"><i class="fa fa-angle-right"> </i>Planting & Removal</a></li>
                <li><a href="irrigation_drainage.html"><i class="fa fa-angle-right"> </i>Irrigation & Drainage</a></li>
                <li><a href="spring_fallcleanup.html"><i class="fa fa-angle-right"> </i>Spring & Fall Cleanup</a></li>
                <li><a href="stone_hardscaping.html"><i class="fa fa-angle-right"> </i>Stone & Hardscaping</a></li>
                <li><a href="snow_ice_removal.html"><i class="fa fa-angle-right"> </i>Snow & Ice Removal</a></li>
                <li><a href="services.html"><i class="fa fa-angle-right"> </i>See all Services</a></li>
              </ul>
            </div>
          </div>
          <div class="widget get-in-touch col-md-3 col-sm-6">
            <h4 class="widget_title">Get In Touch</h4>
            <div class="widget-contact-list">
              <ul>
                <li><i class="fa fa-map-marker"></i>
                  <div class="fleft location_address"><b>Green Lawn Company</b><br>Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</div>
                </li>
                <li><i class="fa fa-phone"></i>
                  <div class="fleft contact_no"><a href="tel:+12345648795">+ <b>1234 564 8795</b></a></div>
                </li>
                <li><i class="fa fa-envelope-o"></i>
                  <div class="fleft contact_mail"><a href="mailto:contact@greenlawn">contact@greenlawn</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft">Monday - Friday : 800 - 1900</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="footer-copy">
          <div class="pull-left fo-txt">
            <p>Copyright © Green Lawn 2017. All rights reserved.</p>
          </div>
          <div class="pull-right fo-txt">
            <p>Created by: <a href="http://themeforest.net/user/designarc">DesignArc</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer  style-->
    <!-- helper js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- contact js -->
	<script src="js/jquery.form.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/contact.js"></script>
    <script src="js/responsive_bootstrap_carousel.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>