<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Greenlawn.com || Responsive HTML 5 Template</title>
    <!-- mobile responsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="plugins/Stroke-Gap-Icons-Webfont/style.css">
  </head>
  <body>
    <div class="home_page_5_style">
      <!-- Header Topbar Start-->
      <div class="hdr_top_bar">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <ul class="nav nav-pills hdr-address">
                <li><a href="#"><i class="fa fa-phone"></i><span>+ (1800) 456 7890                  </span></a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i><span>info@greenlawn.com</span></a></li>
                <li><a href="#"><i class="icon icon-Timer"></i><span>Mon-Sat : 10 am to 7 pm</span></a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-pills hdr-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Header Topbar End-->
      <!-- Navbar Start-->
      <nav id="main-navigation-wrapper" class="navbar navbar-default finance-navbar">
        <div class="thm-container">
          <div class="navbar-header">
            <div class="logo-menu"><img src="images/common_in_all/logo.png" alt=""></div>
            <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div id="main-navigation" class="collapse navbar-collapse">
            <div class="row">
              <div class="col-md-3"><a href="index.html" class="logo fl"><img src="images/home_page5/logo.png" alt="image"></a><a href="index.html" class="logo logo_affix fl"><img src="images/common_in_all/logo.png" alt="image"></a></div>
              <div class="col-md-9">
                <ul class="nav navbar-nav">
                  <li class="dropdown"><a href="index.html" class="nav_drop_ar">Home</a>
                    <ul class="dropdown-submenu">
                      <li><a href="index2.html">Home Page 2</a></li>
                      <li><a href="index3.html">Home Page 3</a></li>
                      <li><a href="index4.html">Home Page 4</a></li>
                      <li><a href="index5.html">Home Page 5</a></li>
                      <li><a href="index6.html">Home Page 6</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="about.html" class="nav_drop_ar">about us</a>
                    <ul class="dropdown-submenu">
                      <li><a href="about.html">Introduction</a></li>
                      <li><a href="faqs.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="services.html" class="nav_drop_ar">Services</a>
                    <ul class="dropdown-submenu">
                      <li><a href="lawn_gardencare.html">Lawn & Garden Care</a></li>
                      <li><a href="irrigation_drainage.html">Irrigation & Drainage</a></li>
                      <li><a href="stone_hardscaping.html">Stone  & Hard Scaping</a></li>
                      <li><a href="planting_removal.html">Planting & Removal</a></li>
                      <li><a href="spring_fallcleanup.html">Spring & Fall Cleanup</a></li>
                      <li><a href="snow_ice_removal.html">Snow & Ice Removal</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="gallery.html" class="nav_drop_ar">Gallery</a>
                    <ul class="dropdown-submenu">
                      <li><a href="gallery.html">Gallery Classic</a></li>
                      <li><a href="gallery_no_filter.html">Gallery No Filter</a></li>
                      <li><a href="gallery_lightbox.html">Gallery Lightbox</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="blogs.html" class="nav_drop_ar">Blog</a>
                    <ul class="dropdown-submenu">
                      <li><a href="blogs.html">Blog</a></li>
                      <li><a href="blogs_detail.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="shop.html" class="nav_drop_ar">Shops</a>
                    <ul class="dropdown-submenu">
                      <li><a href="shop.html">Shops</a></li>
                      <li><a href="product_detail.html">Product Detail</a></li>
                      <li><a href="cart_page.html">Cart</a></li>
                      <li><a href="checkout_page.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="request_btn"><a href="request_quote.html" class="request_quote green_bg btn_border">Get a quote</a></div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navbar End-->
      <!-- BannerCol Start-->
      <div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider slider5">
        <!-- Wrapper for slides-->
        <div role="listbox" class="carousel-inner">
          <div style="background-image: url(images/home_page5/banner_img1.jpg);" class="item active slide-1">
            <div class="carousel-caption">
              <div class="thm-container">
                <div class="box valign-top">
                  <div class="content text-left wdt55 cnt_fl">
                    <h1>Best Landscaping Service</h1>
                    <h2 data-animation="animated fadeInUp">Expert in gardenging</h2>
                    <p data-animation="animated fadeInDown">With over 15 years of experience we’ll ensure you always get the best service</p><a data-animation="animated fadeInUp" href="#" class="btn_border btn_border2 btn_slide yellow_bg">view services</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Controls--><a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>
      </div>
      <!-- BannerCol End-->
    </div>
    <div class="get_quote5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2> Best WordPress Theme for Landscaping and Lawn Services</h2><a href="#" class="btn_get_quote">PURCHASE NOW</a>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome_to2 wdt_100 pad_100 welcome_to5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><img src="images/home_page5/welcome.jpg" alt="Images"></div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="text_above">
              <h3 class="black-color mar_btm30">We are award winning <span class="green-head">landscaping </span>company in your lacality</h3>
              <p class="mar_btm10">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="col-md-6 col-sm-6 col-xs-12 li_item">
                <li><a href="#">Lawn Renovation</a></li>
                <li><a href="#">Landscaping Lighting</a></li>
                <li><a href="#">Flowerscaping</a></li>
              </ul>
              <ul class="col-md-6 col-sm-6 col-xs-12 li_item">
                <li><a href="#">Tree and Shrub Care</a></li>
                <li><a href="#">Natural Stone Walks</a></li>
                <li><a href="#">Lawn Renovation			</a></li>
              </ul>
              <div class="col-md-4 col-sm-4 col-xs-12 year_experience"><span data-from="0" data-to="15" class="timer">15</span><span class="text">years experience</span></div>
              <div class="col-md-4 col-sm-4 col-xs-12 won_awards"><span>0<span data-from="0" data-to="8" class="timer"></span></span><span class="text">won awards</span></div>
              <div class="col-md-4 col-sm-4 col-xs-12 gardens_designed"><span><span data-from="0" data-to="780" class="timer"></span>+</span><span class="text">gardens designed</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Start-->
    <div class="service_bg2 wdt_100 pad_100_50">
      <div class="container">
        <div class="wdt_100 service_mrbtm">
          <h3 class="black-color">Services offer</h3>
          <p>Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion consectetur elit. Vesti bulum nec odio ipsum. Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus suada faci lisis. </p>
        </div>
        <div class="quality-list2">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item">    
              <div class="text">
                <h3 class="mar_btm15"><a href="lawn_gardencare.html">Lawn & Garden Care</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item">
              <div class="text">
                <h3 class="mar_btm15"><a href="irrigation_drainage.html">Irrigation drainage</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item">   
              <div class="text">
                <h3 class="mar_btm15"><a href="planting_removal.html">Planting Removal</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item"> 
              <div class="text">
                <h3 class="mar_btm15"><a href="snow_ice_removal.html">Snow & ice removal</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item">
              <div class="text">
                <h3 class="mar_btm15"><a href="spring_fallcleanup.html">spring & fall</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_item">        
              <div class="text">
                <h3 class="mar_btm15"><a href="stone_hardscaping.html">hard scaping</a></h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
              </div>
              <div class="icon"><img src="images/home_page2/service1.png" alt="Images"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services End-->
    <!-- Project Start-->
    <div class="project_Gal wdt_100 pad_100 project_Gal5">
      <div class="container">
        <div class="col-lg-10 col-md-10">
          <h3 class="mar_btm50">Our Projects</h3>
        </div>
        <div id="photo_gallery" data-ride="carousel" class="carousel slide three_shows_one_move variant_four_project photo_gallery2">
          <!-- Wrapper for slides-->
          <div class="row">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="project_full_col"><span class="default_hidden"><img src="images/home_page5/gallery_img1.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                    <div class="project_detail">
                      <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                        <h2>Garden / Terrace</h2>
                      </div>
                    </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="project_full_col"><span class="default_hidden"><img src="images/home_page5/gallery_img2.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                    <div class="project_detail">
                      <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                        <h2>Garden / Terrace</h2>
                      </div>
                    </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="project_full_col"><span class="default_hidden"><img src="images/home_page5/gallery_img3.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                    <div class="project_detail">
                      <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                        <h2>Garden / Terrace</h2>
                      </div>
                    </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="project_full_col"><span class="default_hidden"><img src="images/home_page5/gallery_img4.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                    <div class="project_detail">
                      <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                        <h2>Garden / Terrace</h2>
                      </div>
                    </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="project_full_col"><span class="default_hidden"><img src="images/home_page5/gallery_img1.jpg" alt="image" class="zoom_img_effect img-responsive"></span>
                    <div class="project_detail">
                      <div class="project_btn_valign"><a href="gallery.html" class="view-all hvr-bounce-to-right view_gallery">view gallery</a>
                        <h2>Garden / Terrace</h2>
                      </div>
                    </div><span class="project_heading"><span class="heading_txt">Garden / Terrace</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controls pull-right gallery_controls"><a href=".photo_gallery2" data-slide="prev" class="left fa fa-chevron-left"></a><a href=".photo_gallery2" data-slide="next" class="right fa fa-chevron-right"></a></div>
        </div>
      </div>
    </div>
    <!-- Quality_Section Start-->
    <div class="wdt_100 high_quality high_quality5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec-lf">
        <div class="pull-right">
          <div class="our_history">
            <h3 class="mar_btm30">Our History</h3>
            <p>We each have 15 years experience in the Landscaping Industry. No job is too large or too small.</p>
            <p>By working closely with our clients we provide a superior service and standard of construction that reflects in the testimonials of our customers.</p><a href="#" class="read_more">Know more ...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec-rt">
        <div class="contact_info contact_info1 contact_info2 wdt_100">
          <ul>
            <li class="white_high_icon">
              <h3 class="mar_btm15">High quality work</h3>
              <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec odios Suspe ndisse </p>
            </li>
            <li class="white_service_icon">
              <h3 class="mar_btm15">Excellentce aftercare service</h3>
              <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec odios Suspe ndisse</p>
            </li>
            <li class="white_time_icon">
              <h3 class="mar_btm15">delivery on time</h3>
              <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec odios Suspe ndisse</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Quality_Section End-->
    <!-- OurWorkers_Section Star-->
    <div class="OurWorkers pad_100 wdt_100">
      <div class="container">
        <h3 class="mar_btm30 black-color">OUr Workers</h3>
        <p class="mar_btm40">Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion consectetur elit. Vesti bulum nec odio ipsum. Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus suada faci lisis. </p>
        <div id="member_slider" data-ride="carousel" class="carousel slide three_shows_one_move">
          <!-- Wrapper for slides-->
          <div class="row">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-3 team_col tam_mar_btm text-center"><a href="#" class="dedicated-team-img-holder custom-hover round"><img src="images/aboutus_page/our_worker1.png" alt="image"></a><span class="team_name">John Michale</span>
                  <p>Gardener & Cleaner</p>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 team_col tam_mar_btm text-center"><a href="#" class="dedicated-team-img-holder custom-hover round"><img src="images/aboutus_page/our_worker2.png" alt="image"></a><span class="team_name">John Michale</span>
                  <p>Gardener & Cleaner</p>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 team_col tam_mar_btm text-center"><a href="#" class="dedicated-team-img-holder custom-hover round"><img src="images/aboutus_page/our_worker3.png" alt="image"></a><span class="team_name">John Michale</span>
                  <p>Gardener & Cleaner</p>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 team_col tam_mar_btm text-center"><a href="#" class="dedicated-team-img-holder custom-hover round"><img src="images/aboutus_page/our_worker4.png" alt="image"></a><span class="team_name">John Michale</span>
                  <p>Gardener & Cleaner</p>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3 team_col tam_mar_btm text-center"><a href="#" class="dedicated-team-img-holder custom-hover round"><img src="images/aboutus_page/our_worker1.png" alt="image"></a><span class="team_name">John Michale</span>
                  <p>Gardener & Cleaner</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OurWorkers_Section End-->
    <!-- Client_Testimonial Start-->
    <div class="pad_94_100 client_bg wdt_100">
      <div class="container">
        <h3 class="black-color mar_btm40">What Our Client Says</h3>
        <div id="client_slider" data-ride="carousel" class="carousel slide two_shows_one_move">
          <div class="controls pull-right"><a href="#client_slider" data-slide="prev" class="left fa fa-chevron-left"></a><a href="#client_slider" data-slide="next" class="right fa fa-chevron-right"></a></div>
          <div class="row">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="white_client_txt">
                    <p>Totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab.Teritatis et quasi architecto. Sed ut perspi ciatis unde omnis iste natus error sit volu ptatem accusantium dolore mque.</p>
                  </div>
                  <div class="client_identity_Col"><span class="client_image"><img src="images/home_page/home_client_img1.png" alt="image"></span>
                    <div class="client_desc"><span class="client_name">Allien John</span><span class="client_place">California</span></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="white_client_txt">
                    <p>Totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab.Teritatis et quasi architecto. Sed ut perspi ciatis unde omnis iste natus error sit volu ptatem accusantium dolore mque.</p>
                  </div>
                  <div class="client_identity_Col"><span class="client_image"><img src="images/home_page/home_client_img2.png" alt="image"></span>
                    <div class="client_desc"><span class="client_name">Allien John</span><span class="client_place">California</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client_Testimonial End-->
    <!-- Emmergency Start-->
    <div class="emmergency-leaks wdt_100">
      <div class="container">
        <h4 class="this-intro">If you have any emergency landscaping need, simply call our 24 hour emergency number</h4>
        <h2 class="this-title">Quick and Reliable work for <span>landscape and gardening</span></h2><a href="#" class="call-link">+(1800) 654 8745</a>
      </div>
    </div>
    <!-- Emmergency End-->
    <!-- Blog_Wrapper Start-->
    <div class="pad_94_100 wdt_100">
      <div class="container">
        <h3 class="black-color mar_btm40">Latest Blogs</h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img1.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img2.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.       </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog_col">
            <div class="blog_img"><a href="blogs.html" class="image_hover"><img src="images/home_page3/blog_img3.jpg" alt="image" class="zoom_img_effect"></a></div>
            <div class="blog_info">
              <ul class="blog_list_icon blog_list_icon2">
                <li class="user_icon">Anjori Meyami</li>
                <li class="comment_icon">Comments: 6</li>
              </ul>
              <h4><a href="blogs.html">A Good Lawn always  Adds Value to Your Property</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium dolor emque laudantium totam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog_Wrapper End-->
    <!-- =========client col start============-->
    <div id="client_logo" data-ride="carousel" class="carousel slide six_shows_one_move container">
      <div class="container">
        <div class="carousel-inner"><a href="#" class="item active">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img1.jpg " alt="client1" class="client_img_br"></span></div></a><a href="#" class="item">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img2.jpg " alt="client2" class="client_img_br"></span></div></a><a href="#" class="item">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img3.jpg " alt="client3" class="client_img_br"></span></div></a><a href="#" class="item">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img4.jpg " alt="client4" class="client_img_br"></span></div></a><a href="#" class="item">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img5.jpg " alt="client5" class="client_img_br"></span></div></a><a href="#" class="item">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><span class="wdt_img"><img src="images/home_page/client_img6.jpg " alt="client6" class="client_img_br"></span></div></a></div>
      </div>
    </div>
    <!-- =========client col end============-->
    <section class="footer-quote">
      <div class="thm-container">
        <h2>Gardener, Complete Solution for Your Landscaping Vision.</h2><a data-animation="animated fadeInLeft" href="#" class="thm-button">Contact Us </a>
      </div>
    </section>
    <!-- footer  style-->
    <footer>
      <section class="clearfix footer-wrapper">
        <div class="container">
          <div class="widget about-us-widget col-md-4 col-sm-6"><a href="index.html"><img src="images/footer/logo.png" alt="" class="img-responsive"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor asin cididunt ut labore et dolore magna ali qua. Lorem ipsum dolor sit amet.</p>
            <ul class="nav footer-social">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin">  </i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="widget widget-links col-md-2 col-sm-6">
            <h4 class="widget_title">Usefull Links</h4>
            <div class="widget-contact-list">
              <ul>
                <li><a href="about.html"><i class="fa fa-angle-right"></i>About Us</a></li>
                <li><a href="contact.html"><i class="fa fa-angle-right"> </i>Make an Appoint</a></li>
                <li><a href="request_quote.html"><i class="fa fa-angle-right"> </i>Get Free Quote</a></li>
                <li><a href="#"><i class="fa fa-angle-right"> </i>Documentation</a></li>
                <li><a href="gallery.html"><i class="fa fa-angle-right"> </i>Gallery</a></li>
                <li><a href="blogs.html"><i class="fa fa-angle-right"> </i>Blogs</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-links widget-links2 col-md-3 col-sm-6">
            <h4 class="widget_title">Our Services</h4>
            <div class="widget-contact-list">
              <ul>
                <li><a href="planting_removal.html"><i class="fa fa-angle-right"> </i>Planting & Removal</a></li>
                <li><a href="irrigation_drainage.html"><i class="fa fa-angle-right"> </i>Irrigation & Drainage</a></li>
                <li><a href="spring_fallcleanup.html"><i class="fa fa-angle-right"> </i>Spring & Fall Cleanup</a></li>
                <li><a href="stone_hardscaping.html"><i class="fa fa-angle-right"> </i>Stone & Hardscaping</a></li>
                <li><a href="snow_ice_removal.html"><i class="fa fa-angle-right"> </i>Snow & Ice Removal</a></li>
                <li><a href="services.html"><i class="fa fa-angle-right"> </i>See all Services</a></li>
              </ul>
            </div>
          </div>
          <div class="widget get-in-touch col-md-3 col-sm-6">
            <h4 class="widget_title">Get In Touch</h4>
            <div class="widget-contact-list">
              <ul>
                <li><i class="fa fa-map-marker"></i>
                  <div class="fleft location_address"><b>Green Lawn Company</b><br>Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</div>
                </li>
                <li><i class="fa fa-phone"></i>
                  <div class="fleft contact_no"><a href="tel:+12345648795">+ <b>1234 564 8795</b></a></div>
                </li>
                <li><i class="fa fa-envelope-o"></i>
                  <div class="fleft contact_mail"><a href="mailto:contact@greenlawn">contact@greenlawn</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft">Monday - Friday : 800 - 1900</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="footer-copy">
          <div class="pull-left fo-txt">
            <p>Copyright © Green Lawn 2017. All rights reserved.</p>
          </div>
          <div class="pull-right fo-txt">
            <p>Created by: <a href="http://themeforest.net/user/designarc">DesignArc</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer  style-->
    <!-- helper js-->
    <script src="js/jquery.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/jquery.count.to.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/responsive_bootstrap_carousel.js"></script>
  </body>
</html>